<div class="aff">
    <div class="wrapper">
        <div class="af__container">
            <h2>Афиша</h2>
            <div class="af__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl1.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl2.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl3.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl4.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl1.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl2.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl3.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="af__swiper-img m-bg-cont">
                                <img src="/static/img/content/sl4.png">
                            </div>
                        </a>
                        <div class="af__swiper-content">
                            <div class="af__swiper-content-title">Импровизация. Команды</div>
                            <div class="af__swiper-content-text">
                                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения. 
                                <br><br>
                                Всего несколько вопросов и 3-5 минут времени.
                            </div>
                            <a href="#" class="af__swiper-content-link">
                                Подробнее
                                {{Icon iconName="arr_r"}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next">
                    {{Icon iconName="sarrr"}}
                </div>
                <div class="swiper-button-prev">
                    {{Icon iconName="sarrl"}}
                </div>
            </div>
            <div class="swiper-button-next adsbh">
                {{Icon iconName="sarrr"}}
            </div>
            <div class="swiper-button-prev adsbh">
                {{Icon iconName="sarrl"}}
            </div>
        </div>
    </div>
</div>