<footer>
    <div class="footer">
        <div class="wrapper">
            <div class="footer__top">
                <div class="footer__top-content">
                    <div class="footer__top-content-title">
                        Как связаться с нами
                    </div>
                    <div class="footer__top-content-soc">
                        <div class="footer__top-content-soc-item">
                             <a href="#">
                                 {{Icon iconName="vk"}}
                             </a>
                        </div>
                        <div class="footer__top-content-soc-item">
                             <a href="#">
                                 {{Icon iconName="wa"}}
                             </a>
                        </div>
                        <div class="footer__top-content-soc-item">
                             <a href="#">
                                 {{Icon iconName="tg"}}
                             </a>
                        </div>
                        <div class="footer__top-content-soc-item">
                             <a href="#">
                                 {{Icon iconName="ph"}}
                             </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__mid-bg">
            <div class="wrapper2">
                <div class="footer__mid">
                    <div class="footer__mid-left">
                        <div class="footer__mid-title">
                            График работы
                        </div>
                        <div class="footer__mid-text">
                            Рабочие дни:<br>
                            Воскресенье - Четверг
                            <br><br>
                            Обед: 14:00 - 16:00
                            <br><br>
                            Выходные дни:<br>
                            Пятница - Суббота<br>
                            10:00 - 19:00<br>
                        </div>
                    </div>
                    <div class="footer__mid-right">
                        <div class="footer__mid-title">
                            Дополнительные контакты
                        </div>
                        <div class="footer__mid-content">
                            <div class="footer__mid-text fmt">
                                Центр Секреты Силы<br>
                                Адрес: ул.Ханапах, 10<br>
                                Кармиель, Израиль<br>
                            </div>
                            <div class="footer__mid-text fmt">
                                Телефон: 052-587-0142<br>
                                Марина Каганович
                                <br><br>
                                Телефон: +972-525-870-142<br>
                                Марина Каганович
                                <br><br>
                                Скайп: marina-k06<br>
                            </div>
                            <div class="footer__mid-text fmt">
                                Интернет-магазин:<br>
                                Телефон: +972-522-674-503<br>
                                Вадим
                                <br><br>
                                Email: metapowershop@gmail.com<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bot">
            <div class="wrapper2">
                <div class="footer__bot-title">
                    namesite.ru   2022
                </div>
            </div>
        </div>
    </div>
</footer>

{{> pageNav/pageNav}}
{{> scripts/scripts}}