<div class="kons hide">
    <div class="kons-blur"></div>
    <div class="kons-popup">
        <div class="kons-popup-close">
            {{Icon iconName="close"}}
        </div>
        <div class="kons-popup-title">Заголовок окна</div>
        <div class="kons-popup-text">Помните, что главное правило типографики — это достижение максимальной удобочитаемости.</div>
        <div class="kons-popup-form">
            <form class="form21">
                <input type="text" name="name" id="name" placeholder="Ваше имя">
                <input type="text" name="phone" id="phone" class="phone-mask" placeholder="+7 (       )    _   _ ">
                <button>Отправить заявку</button>
            </form>
        </div>
    </div>
</div>