<div class="stat">
    <div class="wrapper3">
        <h2>Статьи</h2>
        <div class="stat__container">
            <div class="stat__container-bigitem">
                <div class="stat__container-bigitem-img m-bg-cont">
                    <img src="/static/img/content/s1.png">
                </div>
                <div class="stat__container-bigitem-content">
                    <div class="stat__container-bigitem-content-title">Импровизация. Команды</div>
                    <div class="stat__container-bigitem-content-text">
                        Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                        Всего несколько вопросов и 3-5 минут времени.
                    </div>
                    <a href="/stat.html" class="stat__container-bigitem-content-link">Подробнее →</a>
                </div>
            </div>
            <div class="stat__container-items">
                <div class="stat__container-items-item">
                    <div class="stat__container-items-item-img m-bg-cont">
                        <img src="/static/img/content/s2.png">
                    </div>
                    <div class="stat__container-items-item-title">Импровизация. Команды с Павлом Воли и его друзей, посидели славно.</div>
                    <div class="stat__container-items-item-text">
                        Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                        Всего несколько вопросов и 3-5 минут времени.</div>
                    <a href="/stat.html" class="stat__container-items-item-link">Подробнее →</a>
                </div>
                <div class="stat__container-items-item">
                    <div class="stat__container-items-item-img m-bg-cont">
                        <img src="/static/img/content/s3.png">
                    </div>
                    <div class="stat__container-items-item-title">Импровизация. Команды с Павлом Воли и его друзей, посидели славно.</div>
                    <div class="stat__container-items-item-text">
                        Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                        Всего несколько вопросов и 3-5 минут времени.</div>
                    <a href="/stat.html" class="stat__container-items-item-link">Подробнее →</a>
                </div>
                <div class="stat__container-items-item">
                    <div class="stat__container-items-item-img m-bg-cont">
                        <img src="/static/img/content/s4.png">
                    </div>
                    <div class="stat__container-items-item-title">Импровизация. Команды с Павлом Воли и его друзей, посидели славно.</div>
                    <div class="stat__container-items-item-text">
                        Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                        Всего несколько вопросов и 3-5 минут времени.</div>
                    <a href="/stat.html" class="stat__container-items-item-link">Подробнее →</a>
                </div>
                <div class="stat__container-items-item hide">
                    <div class="stat__container-items-item-img m-bg-cont">
                        <img src="/static/img/content/s2.png">
                    </div>
                    <div class="stat__container-items-item-title">Импровизация. Команды с Павлом Воли и его друзей, посидели славно.</div>
                    <div class="stat__container-items-item-text">
                        Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                        Всего несколько вопросов и 3-5 минут времени.</div>
                    <a href="/stat.html" class="stat__container-items-item-link">Подробнее →</a>
                </div>
                <div class="stat__container-items-item hide">
                    <div class="stat__container-items-item-img m-bg-cont">
                        <img src="/static/img/content/s3.png">
                    </div>
                    <div class="stat__container-items-item-title">Импровизация. Команды с Павлом Воли и его друзей, посидели славно.</div>
                    <div class="stat__container-items-item-text">
                        Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                        Всего несколько вопросов и 3-5 минут времени.</div>
                    <a href="/stat.html" class="stat__container-items-item-link">Подробнее →</a>
                </div>
                <div class="stat__container-items-item hide">
                    <div class="stat__container-items-item-img m-bg-cont">
                        <img src="/static/img/content/s4.png">
                    </div>
                    <div class="stat__container-items-item-title">Импровизация. Команды с Павлом Воли и его друзей, посидели славно.</div>
                    <div class="stat__container-items-item-text">
                        Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                        Всего несколько вопросов и 3-5 минут времени.</div>
                    <a href="/stat.html" class="stat__container-items-item-link">Подробнее →</a>
                </div>
            </div>
            <div class="stat__container-more">
                Показать ещё
            </div>
            <a href="blog.html" class="stat__container-more2">
                Все статьи
            </a>
        </div>
    </div>
</div>