<div class="pageNavFixed">
	<div class="pageNavFixed__cont">
		<div>
			<b>Страницы</b>
			<a href="index.html">Главная</a>
			<a href="about_school.html">О школе</a>
			<a href="catalog_med.html">Каталог медетаций</a>
			<a href="catalog_tren.html">Каталог тренинги</a>
			<a href="akc.html">Акция</a>
			<a href="akcs.html">Акции</a>
			<a href="album.html">Альбом</a>
			<a href="blog.html">Блог</a>
			<a href="contact.html">Контакты</a>
			<a href="course.html">Курс</a>
			<a href="gallery.html">Галерея</a>
			<a href="med.html">Медитация</a>
			<a href="rasp.html">Расписание</a>
			<a href="review.html">Отзыв</a>
			<a href="reviews.html">Отзывы</a>
			<a href="school.html">Школа</a>
			<a href="sergey.html">Сергей Ратнер</a>
			<a href="stat.html">Статья</a>
			<a href="tren.html">Тренинг</a>
		<div>
	</div>
</div>