<div class="rekt">
    <h2>Рекомендуемые тренинги:</h2> 
    <div class="news__container">
        <div class="news__container-item">
            <a href="#">
                <div class="news__container-item-img m-bg-cont">
                    <img src="/static/img/content/n1.png">
                </div>
            </a>
            <div class="news__container-item-title">Заголовок Анонса</div>
            <div class="news__container-item-text">
                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                Всего несколько вопросов и 3-5 минут времени.
            </div>
            <a href="#" class="news__container-item-link">Подробнее →</a>
        </div>
        <div class="news__container-item">
            <a href="#">
                <div class="news__container-item-img m-bg-cont">
                    <img src="/static/img/content/n2.png">
                </div>
            </a>
            <div class="news__container-item-title">Заголовок Анонса</div>
            <div class="news__container-item-text">
                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                Всего несколько вопросов и 3-5 минут времени.
            </div>
            <a href="#" class="news__container-item-link">Подробнее →</a>
        </div>
        <div class="news__container-item">
            <a href="#">
                <div class="news__container-item-img m-bg-cont">
                    <img src="/static/img/content/n3.png">
                </div>
            </a>
            <div class="news__container-item-title">Заголовок Анонса</div>
            <div class="news__container-item-text">
                Мы всегда готовы помочь вам сориентироваться и составить ваш план обучения.<br><br>
                Всего несколько вопросов и 3-5 минут времени.
            </div>
            <a href="#" class="news__container-item-link">Подробнее →</a>
        </div>
    </div>
</div>